.nav{
	background-color: #AAAAED;
}
ul{
	margin-top: 15px;
}
ol{
	margin-top: 4px;
	margin-bottom: 1px;
}
ul li{
	background-color:#ABCDEF;
	height: auto;
	width: auto;
	font-size: 17px;
	border:1px solid white;
	border-radius: 5px;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
}
.active {
    background-color:#23ff3d;
    background-size: auto;
}
li img{
	background-color:transparent;
	height: 50px;
	width: 50px;
	font-size: 17px;
	border:1px solid white;
	border-radius: 55px;
	display: inline;
}
.jumbotron {
	background-image: url('images/lodging.png');
	background-size: cover;
	height: 500px;
	background-repeat: no-repeat;
}
.sub-nav{
	background-color:#FED;
	height: auto;
	width: auto;
	font-size: 17px;
	border:1px solid white;
	border-radius: 5px;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
	margin: auto;
}
ol{
	list-style-type: none;
}

