<!DOCTYPE html>
<html lang="en-ca" ng-app="recordMan">
	<head>
		<meta charset="utf-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		
		<title>RecordMan</title>
		
		<!-- Material Design -->
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Angular JS -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<!-- My Front-end -->
		<script type="text/javascript" src='app.js'></script>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>
	<body ng-controller="mainCtrl as regist">
		{{content}}
	</body>
</html>