<!DOCTYPE html>
<html lang="en-ca">
	<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width,initial-scale=1.0">

	<!-- Material Design -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Jquery library 
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	-->
	<!-- My Front-end -->
	<script src='script.js'></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">

	<title>RecordMan</title>
	<link rel="RecordMan" href="{{site.baseurl}}imagepf.ico"/>
	</head>
	{{content}}
</html>